/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]

/* suppression de la colonne de gauche dans la page d'inscription / resume du cours */
#page-enrol-index.format-onetopic .generalbox .coursebox .info,
#page-enrol-index.format-onetopic .generalbox .coursebox .content .courseimage {
    display: none;
}
#page-enrol-index.format-onetopic .generalbox .coursebox .content .summary {
    width: auto;
}

#navwrap {
	display:none;
}

body {
	font-size: 1.2em;
}

#logo {
	max-width: none;
	margin-bottom: 10px;
}

#completionprogressid {
	display: none;
}

.modified {
	display: none;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} 

/* puisque le titre de la PTF est inclus dans le logo (idée de m..de) */
#coursetitle {
	display: none;
}

/* le champ de recherche s'affichait sur 2 lignes en mode "écran de taille moyenne" */
.search-box__button {
	width: 25px;
}

/* cacher les groupes de champs "Noms supplémentaires" et "Facultatif" du formulaire d'inscription */
#id_moodle_additional_names,
#id_moodle_optional,
#id_moodle_picture /* et aussi l'avatar, tant qu'on y est (empêche de voir les champs perso en dessous)*/
{
	display: none;
}

/* sous-titre des images de la galerie de la page d'accueil */
.flex-caption {
	padding: 10px 25px 1px 30px;
	width: auto;
}
.flex-caption h5 {
	color: white;
}

/* encapsulation des videos (Youtube, Vimeo) */
.video-wrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    /*padding-top: 25px;*/
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* les plugins de couleur Atto sont cassés avec Adaptable (carrés de couleur invisibles) */
/* voir le bug déclaré : https://bitbucket.org/covuni/moodle-theme_adaptable/issues/385/atto-plugins-dropdown-menus-broken */
.atto_fontcolor_button .dropdown-menu {
    min-width: 50px;
}
.atto_backcolor_button .dropdown-menu {
    min-width: 50px;
}

.atto_morefontcolors_button .dropdown-menu {
    min-width: 140px; /* @TODO trouver un vrai moyen d'annuler la valeur incorrecte "inherit" "*/
}
.atto_morebackcolors_button .dropdown-menu {
    min-width: 50px;
}