/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]

/* suppression de la colonne de gauche dans la page d'inscription / resume du cours */
#page-enrol-index.format-onetopic .generalbox .coursebox .info,
#page-enrol-index.format-onetopic .generalbox .coursebox .content .courseimage {
    display: none;
}
#page-enrol-index.format-onetopic .generalbox .coursebox .content .summary {
    width: auto;
}

#navwrap {
	display:none;
}

body {
	font-size: 1.2em;
}

#logo {
	max-width: none;
	margin-bottom: 10px;
}

#completionprogressid {
	display: none;
}

.modified {
	display: none;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} 

/* puisque le titre de la PTF est inclus dans le logo (idée de m..de) */
#coursetitle {
	display: none;
}

/* le champ de recherche s'affichait sur 2 lignes en mode "écran de taille moyenne" */
.search-box__button {
	width: 25px;
}

/* cacher les groupes de champs "Noms supplémentaires" et "Facultatif" du formulaire d'inscription */
#id_moodle_additional_names,
#id_moodle_optional/*,
#id_moodle_picture*/ /* et aussi l'avatar, tant qu'on y est (empêche de voir les champs perso en dessous)*/
{
	display: none;
}

/* sous-titre des images de la galerie de la page d'accueil */
.flex-caption {
	padding: 10px 25px 1px 30px;
	width: auto;
}
.flex-caption h5 {
	color: white;
}

/* encapsulation des videos (Youtube, Vimeo) */
.video-wrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    /*padding-top: 25px;*/
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* les plugins de couleur Atto sont cassés avec Adaptable (carrés de couleur invisibles) */
/* voir le bug déclaré : https://bitbucket.org/covuni/moodle-theme_adaptable/issues/385/atto-plugins-dropdown-menus-broken */
.atto_fontcolor_button .dropdown-menu {
    min-width: 50px;
}
.atto_backcolor_button .dropdown-menu {
    min-width: 50px;
}

/*.atto_morefontcolors_button .dropdown-menu {
    min-width: 140px;
}
.atto_morebackcolors_button .dropdown-menu {
    min-width: 50px;
}*/

.usermenu2 {
	display: none;
}

@media (max-width: 767px) {
	/* navbar vide qui prend tout de même de l'espace vertical */
	#page-navbar {
		display: none;
	}

	/* citations CC du bandeau défilant */
	.flex-caption {
		width: auto !important;
	}
	.flex-caption > h5 {
		font-size: 12px;
		margin-right: 10px;
		margin-left: 10px;
		margin-bottom: 2px;
	}
}

@media (max-width: 480px) {
	.container.slidewrap {
		display: none;
	}
}


#theinfo-internal {
	padding: 0;
	text-align:center;
	overflow: hidden;
}

.fond-gris {
	background-color: #555;
}

#themessage-internal {
	border: 1px solid grey;
	padding: 0;
	border-radius: 2px;
	box-shadow: 0px 1px 2px #242424;
	position: relative;
	border: 5px solid #FFF;
}

#themessage h4 {
    color: white !important;
}

/* ne pas souligner les liens sur les tuiles "marketing" */
#marketblocks .covtiles a:hover {
	text-decoration: none;
}
.span4.covtiles.first:nth-of-type(1) div:hover {
	background-color: #00b9d6 !important;
}
.span4.covtiles.first:nth-of-type(2) div:hover {
	background-color: #c0c0c0 !important;
}

/* masque le message "Options d'inscription" dans le résumé du cours (pour les
 * non-inscrits) */
#page-enrol-index #region-main h2 {
    display: none;
}

/* tricherie pour "déplier" les champs supplémentaires des formulaires d'inscription */
#page-user-edit .mform fieldset.collapsed legend a.fheader,
#page-login-signup .mform fieldset.collapsed legend a.fheader {
    background: rgba(0, 0, 0, 0) url("/moodle/theme/image.php/adaptable/core/1459517124/t/expanded") no-repeat scroll 2px center;
}
#page-user-edit.jsenabled .mform fieldset.collapsed .fcontainer,
#page-login-signup.jsenabled .mform fieldset.collapsed .fcontainer {
    display: block;
}

/* augmentation de la hauteur du premier bandeau du "header" pour faire rentrer le bouton de connexion */
#above-header {
    height: 32px;
}
.dropdown.secondone {
    margin-top: 5px;
}

.tuile-cours {
    /*border: 5px solid #FFF;*/
    /*background-color: #B7E4F0;*/
    border: 3px solid #009FB8;
    border-radius: 2px;
    display: inline-block;
    box-shadow: 0px 1px 2px #C1C1C1;
    margin-bottom: 25px;
    width: 380px;
    padding: 10px;
    position: relative !important;
}

.tuile-cours-interieur {
    width: 100%;
    text-align: center;
}
.tuile-cours-interieur a:hover {
	text-decoration: none;
}

.tuile-arriere {
    /*display: none;*/
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    /*padding: 10px;*/
    background-color: #ffffff;
    /*border: solid red 1px;*/
    width: 100%;
    height: 190px; /* height de .cimbox + padding de .tuile-cours + 5 (pour le plaisir) */
}

.tuile-cours:hover .tuile-arriere {
    /*display: block;*/
    opacity: 0.87;
}

a:hover .tuile-arriere * {
    text-decoration: none;
}

.tuile-arriere-interieur {
    padding: 10px;
    padding-left: 20px;
}
.tuile-arriere-interieur > div {
    margin-bottom: 10px;
}
.tuile-arriere-interieur > div.resume-cours {
    margin-bottom: 25px;
    color: #333;
}
.tuile-arriere-interieur > div.categorie-cours {
    color: #00778a;
}
.tuile-arriere-interieur > div.date-ouverture,
.tuile-arriere-interieur > div.statut-inscription {
    color: #333;
}
.tuile-arriere-interieur > div.date-ouverture.cours-ouvert,
.tuile-arriere-interieur > div.statut-inscription.inscription-ouverte {
    color: green;
}
.tuile-arriere-interieur > div.date-ouverture.cours-ferme,
.tuile-arriere-interieur > div.statut-inscription.inscription-fermee {
    color: red;
}
.tuile-arriere-interieur > div > i {
    margin-right: 8px;
}

.bouton-cours {
    width: 80%; /* espèce de span11 artisanal, sans les inconvénients */
    float: none !important;
}

h3.titre-cours {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
    margin-bottom: 0;
}

/* Masquer le formulaire de connexion / inscription par défaut au bas de la page "enrol" */
#page-enrol-index #mform1 {
	display: none;
}

#page-login-index .subcontent.guestsub {
	display: none;
}

/*.loginbox.twocolumns .loginpanel, .loginbox.twocolumns .signuppanel {
	float: none;
}*/

/* Personnalisation du formulaire de connexion */
.page-login-perso {
	/*border: solid blue 2px;*/
	max-width: 720px;
	margin: auto;
}
.page-login-perso .logo-tb {
	margin-top: -2px;
}
.page-login-perso #login .loginform {
	margin: auto;
	margin-top: 0px;
	max-width: 370px;
}
.page-login-perso #login .loginactions {
	margin: auto;
	margin-top: 0px;
	max-width: 370px;
	text-align: right;
}
.page-login-perso .loginbox .subcontent {
	margin: 0;
}
.page-login-perso .loginsub .loginform {
	text-align: center;
}
.page-login-perso .loginsub {
	padding-top: 0;
}
.page-login-perso .loginsub .loginform .form-input input {
	width: 96%;
}
.page-login-perso .loginsub .loginform .form-input {
	float: none;
	width: auto;
	width: 100%;
}
.page-login-perso .rememberpass {
	display: inline-block;
	float: left;
	margin-top: 7px;
}
.page-login-perso #rememberusername {
	margin: 0;
}
.page-login-perso .forgetpass {
	display: inline-block;
	font-size: 0.8em;
}
.page-login-perso .loginsub .loginform .form-label {
	float: none;
	width: 100%;
	text-align: center;
}
.page-login-perso .loginerrors {
	margin-bottom: 15px;
}
.page-login-perso .signuppanel .subcontent {
	text-align: center;
	margin: auto;
    max-width: 400px;
}
/* recentrage du formulaire de login */
#page-login-index #region-main {
	margin: 0;
}

/* bouton en haut à droite de la page d'accueil */
#bouton-acces-cours {
	background-color: #fff;
	border: 1px solid #999;
	padding: 10px;
	position: absolute;
	right: 47px;
	top: 80px;
}
#bouton-acces-cours:hover {
	background-color: #f0f0ff;
}
#bouton-acces-cours > a:hover {
	text-decoration: none;
}

/* Personnalisation du profil général */
#page-user-profile #page-navbar {
	display: none;
}

#page-user-profile #region-main {
	margin-top: 5px;
}

#page-user-profile .userprofile .page-context-header {
	margin-bottom: 0;
}

/* alignement à gauche du logo en taille intermédiaire */
@media (max-width:979px) {
	#page-header a img {
		margin: 0 0 10px 0;
	}
}

/* glossaire */
.glossaire-image {
    width: 200px;
}
.glossaire-legende {
    font-size: 0.9em;
    margin-top: 5px;
}
.glossaire-citation {
    font-size: 0.8em;
	color: #606060;
}

/* icônes des activités */
img.iconlarge {
	width: auto;
	height: 36px;
}

/* redesign méga-triche  */
/*.activityinstance > #lien-activite-2 img
{
    display: none;
}

.activityinstance > #lien-activite-2
{
    background-image: url("http://mooc.tela-botanica.org/moodle-fichiers/pictogrammes/page_vid%C3%A9o.png");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 24px auto;
    display: inline-block;
    height: 30px;
    line-height: 36px;
    padding-left: 30px;
    vertical-align: baseline;
}*/
