/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]

/* suppression de la colonne de gauche dans la page d'inscription / resume du cours */
#page-enrol-index.format-onetopic .generalbox .coursebox .info,
#page-enrol-index.format-onetopic .generalbox .coursebox .content .courseimage {
    display: none;
}
#page-enrol-index.format-onetopic .generalbox .coursebox .content .summary {
    width: auto;
}

#navwrap {
	display:none;
}

body {
	font-size: 1.2em;
}

#logo {
	max-width: none;
	margin-bottom: 10px;
}

#completionprogressid {
	display: none;
}

.modified {
	display: none;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} 

/* puisque le titre de la PTF est inclus dans le logo (idée de m..de) */
#coursetitle {
	display: none;
}

/* le champ de recherche s'affichait sur 2 lignes en mode "écran de taille moyenne" */
.search-box__button {
	width: 25px;
}

/* cacher les groupes de champs "Noms supplémentaires" et "Facultatif" du formulaire d'inscription */
#id_moodle_additional_names,
#id_moodle_optional/*,
#id_moodle_picture*/ /* et aussi l'avatar, tant qu'on y est (empêche de voir les champs perso en dessous)*/
{
	display: none;
}

/* sous-titre des images de la galerie de la page d'accueil */
.flex-caption {
	padding: 10px 25px 1px 30px;
	width: auto;
}
.flex-caption h5 {
	color: white;
}

/* encapsulation des videos (Youtube, Vimeo) */
.video-wrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    /*padding-top: 25px;*/
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* les plugins de couleur Atto sont cassés avec Adaptable (carrés de couleur invisibles) */
/* voir le bug déclaré : https://bitbucket.org/covuni/moodle-theme_adaptable/issues/385/atto-plugins-dropdown-menus-broken */
.atto_fontcolor_button .dropdown-menu {
    min-width: 50px;
}
.atto_backcolor_button .dropdown-menu {
    min-width: 50px;
}

/*.atto_morefontcolors_button .dropdown-menu {
    min-width: 140px;
}
.atto_morebackcolors_button .dropdown-menu {
    min-width: 50px;
}*/

.usermenu2 {
	display: none;
}

@media (max-width: 767px) {
	/* navbar vide qui prend tout de même de l'espace vertical */
	#page-navbar {
		display: none;
	}

	/* citations CC du bandeau défilant */
	.flex-caption {
		width: auto !important;
	}
	.flex-caption > h5 {
		font-size: 12px;
		margin-right: 10px;
		margin-left: 10px;
		margin-bottom: 2px;
	}
}

@media (max-width: 480px) {
	.container.slidewrap {
		display: none;
	}
}


#theinfo-internal {
	padding: 0;
	text-align:center;
	overflow: hidden;
}

.fond-gris {
	background-color: #555;
}

#themessage-internal {
	border: 1px solid grey;
	padding: 0;
	border-radius: 2px;
	box-shadow: 0px 1px 2px #242424;
	position: relative;
	border: 5px solid #FFF;
}

/* masque le message "Options d'inscription" dans le résumé du cours (pour les
 * non-inscrits) */
#page-enrol-index h2 {
    display: none;
}

/* tricherie pour "déplier" les champs supplémentaires des formulaires d'inscription */
#page-login-signup .mform fieldset.collapsed legend a.fheader {
    background: rgba(0, 0, 0, 0) url("/moodle/theme/image.php/adaptable/core/1459517124/t/expanded") no-repeat scroll 2px center;
}
#page-login-signup.jsenabled .mform fieldset.collapsed .fcontainer {
    display: block;
}

/* augmentation de la hauteur du premier bandeau du "header" pour faire rentrer le bouton de connexion */
#above-header {
    height: 32px;
}

.tuile-arriere {
    /*display: none;*/
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    /*padding: 10px;*/
    background-color: #ffffff;
    /*border: solid red 1px;*/
    width: 100%;
    height: 190px; /* height de .cimbox + padding de .tuile-cours + 5 (pour le plaisir) */
}

.tuile-cours:hover .tuile-arriere {
    /*display: block;*/
    opacity: 0.87;
}

a:hover .tuile-arriere * {
    text-decoration: none;
}

.tuile-arriere-interieur {
    padding: 10px;
    padding-left: 20px;
}
.tuile-arriere-interieur > div {
    margin-bottom: 10px;
}
.tuile-arriere-interieur > div.resume-cours {
    margin-bottom: 25px;
    color: #333;
}
.tuile-arriere-interieur > div.categorie-cours {
    color: #00778a;
}
.tuile-arriere-interieur > div.date-ouverture {
    color: #333;
}
.tuile-arriere-interieur > div.statut-inscription.inscription-ouverte {
    color: green;
}
.tuile-arriere-interieur > div.statut-inscription.inscription-fermee {
    color: red;
}
.tuile-arriere-interieur > div > i {
    margin-right: 8px;
}

.bouton-cours {
    width: 80%; /* espèce de span11 artisanal, sans les inconvénients */
    float: none !important;
}

h3.titre-cours {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
    margin-bottom: 0;
}
